@page {
	size:90mm 110mm;
	margin:5mm 5mm 5mm 5mm;
}
#ticket {
	font-size:8pt;
}
.ticket_content {
	margin:2mm 0mm 2mm 0mm;
}
#delivery_id {
	font-size:150%;
}
#spliter {
	border:1px dashed black;
}
#price {
	padding-left:10mm;
}
#signature {
	padding-left:5mm;
}
